@import 'variables';

:host {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: $lightestGray;
    color: $black;

    #noteNameField {
        font-size: 20px;
    }

    .button-container {
        padding: 0 12px;

        button {
            width: 100%;
            color: $red;
            background: transparent;
            border: 1px solid $red;
            border-radius: 4px;
            padding: 8px 12px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
    
            &:hover {
                cursor: pointer;
                background-color: $red;
                color: $white;
            }
        }
    }

    .spacer {
        flex: 1;
    }

    .input-container {
        padding: 8px 12px;
    }

    .tag-list {
        padding: 8px 12px;
        padding-bottom: 0;
    }

    .tags {
        .tag {
            @include no-select;
            display: inline-flex;
            align-items: center;
            padding: 2px 8px;
            white-space: nowrap;
            overflow-y: hidden;
            background-color: $lightestPurple;
            border-radius: 4px;
            margin-top: 8px;
            margin-right: 8px;

            i {
                font-size: 16px;
                margin-left: 8px;
                color: $purple;
                transition: color 100ms ease-in-out;

                &.delete {
                    border-radius: 4px;
                    font-weight: bold;
                    
                    &:hover {
                        color: $red;
                        cursor: pointer;
                    }
                }
            }
        }

    }
}