<form [formGroup]="nameForm">
    <div class="input-container"><input type="text" id="noteNameField" formControlName="name" placeholder="Note name" /></div>
</form>

<div class="tags">
    <div class="tag-list">
        <span class="tag" *ngFor="let tag of (activeNote?.Tags | alphabeticalBy)">
            <!-- <i class="material-icons">label</i> -->
            {{ tag }}
            <i class="material-icons delete" (click)="deleteTag(tag)">close</i>
        </span>
    </div>
    
    <form [formGroup]="addTagForm" (submit)="addTag()">
        <div class="input-container"><input type="text" formControlName="tag" placeholder="Add a tag"></div>
    </form>
</div>

<div class="spacer"></div>
<div class="button-container">
    <button (click)="deleteNote()">Delete note</button>
</div>