:host {
    display: block;
}

.tree-node {
    display: flex;
    align-items: center;

    i {
        font-size: 16px;
        margin-right: 6px;
        color: #AAA
    }

    &:hover {
        cursor: pointer;
    }
}

md-note-tree {
    padding-top: 16px;
    margin-left: 16px;
}