@import 'variables';
@import 'fonts';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: $white;
}

input[type="text"] {
    background-color: transparent;
    display: block;
    border: none;
    border-bottom: 2px solid $lightPurple;
    padding: 8px 0px;
    width: 100%;
    font-size: 14px;
    color: $darkGray;

    &::placeholder {
        color: $lightGray;
    }

    &:focus {
        outline: none;
    }
}

.toolbar {
    height: 40px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    position: relative;
    z-index: 10;
    box-shadow: $toolbarShadow;
    color: $white;

    .title {
        @include no-select;
        font-weight: bold;
        font-size: 16px;
    }

    button {
        transition: background-color 100ms;
        background-color: transparent;
        color: $white;
        border: none;
        border-radius: 4px;
        display: flex;
        align-content: center;
        padding: 2px 4px;
        
        &:hover {
            cursor: pointer;
            background-color: $purple;
        }

        &:focus {
            outline: none;
        }
    }
}