@import 'variables';
@import 'fonts';
@import 'markdown';

* {
    box-sizing: border-box;
    transition: color 100ms ease-in-out;
    transition: background-color 100ms ease-in-out;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: $white;
}

input[type="text"] {
    background-color: transparent;
    display: block;
    border: none;
    border-bottom: 2px solid $lightPurple;
    padding: 8px 0px;
    width: 100%;
    font-size: 14px;
    color: $darkGray;

    &::placeholder {
        color: $lightGray;
    }

    &:focus {
        outline: none;
    }
}

button,
a.button {
    background-color: $lightPurple;
    color: $white;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 8px 12px;
    text-decoration: none;
    
    &:hover {
        cursor: pointer;
        background-color: $purple;
    }

    &:focus {
        outline: none;
    }
}

.toolbar {
    height: 40px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 8px 12px;
    position: relative;
    z-index: 10;
    box-shadow: $toolbarShadow;
    color: $white;

    .title {
        @include no-select;
        font-weight: bold;
        font-size: 16px;
    }

    .group {
        display: flex;
    }

    .right {
        margin-left: auto;
    }

    button + button,
    button + .segmented-button,
    .segmented-button + button {
        margin-left: 16px;
    }

    .segmented-button {
        display: flex;

        button,
        a.button {
            border-radius: 0px;

            &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            &:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            &.active {
                background-color: $darkPurple;
                color: $lightPurple;
                &:hover {
                    cursor: default;
                }
            }
            &:not(.active) {
                border: 1px solid $darkPurple;
            }

            & + button {
                margin-left: 0px;
            }
        }
    }

    button,
    a.button {
        background-color: transparent;
        color: $white;
        padding: 2px 4px;
        
        &:hover {
            cursor: pointer;
            background-color: $darkPurple;
        }

        &:focus {
            outline: none;
        }
    }
}