@import 'variables';
@import 'fonts';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: $black;
}

.no-select {
    user-select: none;
}

input[type="text"] {
    background-color: transparent;
    display: block;
    border: none;
    border-bottom: 2px solid $lightPurple;
    padding: 8px 0px;
    width: 100%;
    font-size: 16px;

    &::placeholder {
        color: $gray;
    }

    &:focus {
        outline: none;
    }
}