<div class="container" [class.darken]="showModal">
    <as-split unit="pixel" direction="horizontal" gutterSize="1">
        <as-split-area size="220" class="tree-pane">
            <div class="toolbar">
                Your notes
            </div>
            <md-note-tree [notes]="notes$ | async" (select)="selectNote($event)"></md-note-tree>
        </as-split-area>
        <as-split-area size="*" class="editor-pane">
            <div class="toolbar">
                {{ (activeNote$ | async)?.Name }}
                <!-- <div class="button-group">
                    <button class="active" (click)="setMode()"><i class="material-icons">edit</i></button>
                    <button (click)="setMode()"><i class="material-icons">photo</i></button>
                </div> -->
            </div>
            <md-editor [resize$]="resize$"></md-editor>
        </as-split-area>
    </as-split>
</div>

<div class="modal" *ngIf="showModal">
    <div class="background" (click)="dismissModal()"></div>
    <div class="content">
        <form [formGroup]="form" (submit)="createNote()">
            <div class="input-container">
                <input type="text" name="note-name" placeholder="Note name" formControlName="name" autofocus />
            </div>
        </form>
    </div>
</div>
