:host {
    display: block;
    position: relative;
}

.container {
    height: 100vh;

    transition: filter 100ms;

    &.darken {
        filter: brightness(25%);
    }
}

as-split-area {
    &.tree-pane {
        background-color: #222222;
        color: #F0F0F0;

        .toolbar {
            background-color: transparent;
        }
    }

    &.editor-pane {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;

        background-color: white;

        .toolbar {
            flex: 0 1 auto;
            background-color: #444444;
            color: #F0F0F0;
            button {
                &:not(.active) {
                    background-color: #666666;
                    color: #CCCCCC;
                }
            }
        }

        md-editor {
            margin-top: 2px;
            margin-left: 4px;
            flex: 1 1 auto;
        }
    }
}

::ng-deep .as-split-gutter {
    background-color: transparent !important;
    position: relative;
    flex-basis: 0px !important;
}

::ng-deep .as-split-gutter-icon {
    background-image: none !important;
    position: absolute;
    width: 5px !important;
    left: -2px;
    right: 2px;
}

md-note-tree {
    margin-left: 8px;
}