:host {
    display: block;
    position: relative;
}

.container {
    height: 100vh;

    transition: filter 100ms;

    &.darken {
        filter: brightness(25%);
    }
}

as-split-area {
    &.tree-pane {
        z-index: 1;
        background-color: #222222;
        color: #F0F0F0;

        .toolbar {
            background-color: #111111;
        }

        .tag {
            padding: 4px 8px;

            &:hover {
                cursor: pointer;
                background-color: tomato;
            }
        }
    }

    &.notes-pane {
        background-color: #e8e8e8;

        .toolbar {
            background-color: #AAAAAA;
        }

        .note {
            padding: 4px 8px;

            &:hover {
                background-color: tomato;
                cursor: pointer;
            }
        }
    }

    &.editor-pane {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;

        background-color: #F5F5F5;

        .toolbar {
            z-index: 1;
            flex: 0 1 auto;
            background-color: #444444;
            color: #F0F0F0;

            .title {
                font-weight: bold;
            }

            button {
                &:not(.active) {
                    background-color: #666666;
                    color: #CCCCCC;
                }
            }
        }

        md-editor {
            margin-top: 4px;
            margin-left: 8px;
            flex: 1 1 auto;
        }
    }
}

::ng-deep .as-split-gutter {
    background-color: transparent !important;
    position: relative;
    flex-basis: 0px !important;
}

::ng-deep .as-split-gutter-icon {
    background-image: none !important;
    position: absolute;
    width: 5px !important;
    left: -2px;
    right: 2px;
}