<div class="container" [class.darken]="showModal">
    <as-split unit="pixel" direction="horizontal" gutterSize="1">

        <as-split-area size="220" class="tree-pane">
            <div class="toolbar">Groups</div>
            <md-tag-tree></md-tag-tree>
        </as-split-area>

        <as-split-area size="220" class="notes-pane">
            <div class="toolbar">Notes</div>
            <div class="note" [class.active]="note === activeNote" *ngFor="let note of (notesToDisplay | alphabeticalBy:'Name')" (click)="selectNote(note)">{{ note.Name }}</div>
        </as-split-area>

        <as-split-area size="*" class="editor-pane">
            <div class="toolbar"><div class="title">{{ activeNote?.Name }}</div></div>
            <md-editor [resize$]="resize$"></md-editor>
        </as-split-area>
    </as-split>
</div>

<md-modal *ngIf="showModal">
    <form [formGroup]="form" (submit)="createNote()">
        <input type="text" name="note-name" placeholder="Note name" formControlName="name" autofocus #nameInput />
    </form>
</md-modal>