$darkerPurple: #2c2c54;
$darkPurple: #40407a;
$purple: #353566;
$lightPurple: #5B5B99;
$lighterPurple: #A0A0E5;

$white: #F5F5F5;
$lightestGray: #EDEDED;
$lighterGray: #DADADA;
$lightGray: #CCCCCC;
$gray: #999999;
$black: #222222;