$darkerPurple: #2c2c54;
$darkPurple: #40407a;
$purple: #353566;
$lightPurple: #5B5B99;
$lighterPurple: #A0A0E5;

$red: #C91818;

$white: #F5F5F5;
$lightestGray: #EDEDED;
$lighterGray: #DADADA;
$lightGray: #CCCCCC;
$gray: #999999;
$darkGray: #666666;
$black: #222222;

$toolbarShadow: 0px 2px 6px -2px $darkerPurple;

@mixin no-select {
    user-select: none;
}

.no-select {
    @include no-select;
}

@mixin hidden {
    visibility: hidden;
}

.hidden {
    @include hidden;
}

@mixin fancy-scroll {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;
        background: transparent;
    }

}