@import 'variables';

.tag {
    @include no-select;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    white-space: nowrap;

    i {
        font-size: 16px;
        margin-right: 4px;
        color: $lightPurple;
    }

    &.active {
        background-color: $purple;
    }

    &:hover {
        cursor: pointer;
        background-color: $purple;
    }

    .count {
        margin-left: auto;
        padding-left: 8px;
        color: $lighterPurple;
    }
}